@page "/"

<h1>jsMind Demo</h1>

<pre>SelectedNodeId  = @_selectedNodeId</pre>
<pre>SelectedNodeIds = @string.Join(",", _selectedNodeIds)</pre>

<div>
    <label>TreeNodes</label>
    <MindMapTreeContainer @ref="_myTreeNodeContainer"
                          Options="@_options"
                          Data="@_treeData"
                          OnSelectNode="@OnSelectTreeNode"
                          OnMultiSelectNodes="@OnMultiSelectNodes"
                          OnShow="@OnShowTree"
                          OnResize="@OnResize"
                          style="border:solid 1px blue; background:#f4f4f4;" />
    <button class="btn btn-primary" @onclick="UpdateRootNode">UpdateRootNode</button>
    <button class="btn btn-primary" @onclick="AddTreeNode">AddTreeNode</button>
    <button class="btn btn-primary" @onclick="RemoveTreeNode">RemoveTreeNode</button>
    <button class="btn btn-primary" @onclick="CollapseTree">CollapseTree</button>
    <button class="btn btn-primary" @onclick="SelectTreeNode">SelectTreeNode</button>
    <button class="btn btn-primary" @onclick="ClearSelect">ClearSelect</button>
    <button class="btn btn-primary" @onclick="MindMapClickable">MindMapClickable</button>
    <button class="btn btn-primary" @onclick="MindMapNotClickable">MindMapNotClickable</button>
</div>
<hr />
<div>
    <label>ArrayNodes with parentId</label>
    <MindMapArrayContainer @ref="_myArrayNodeContainer" Options="@_options" Data="@_arrayData1" style="border:solid 1px red; background:#f4f4f4;" />
    <button class="btn btn-primary" @onclick="AddArrayNode">AddArrayNode</button>
    <button class="btn btn-primary" @onclick="UpdateArrayRootNode">UpdateArrayRootNode</button>
</div>
<hr />
<div>
    <label>ArrayNodes with Parent</label>
    <MindMapArrayContainer options="@_options" data="@_arrayData2" style="border:solid 1px green; background:#f4f4f4;" />
</div>